<img src="honda_header.jpg" class="header-banner">

<ul>
	<li><%= link_to "Agenda", root_path %></li>
	<li><%= link_to "Inscription", inscription_path %></li>
	<li><%= link_to "Informations", informations_path %></li>
	<li><%= link_to "Contact", contact_path %></li>
</ul>

<div class="done-message">
	<h5>Votre inscription a bien été prise en compte</h5>
	<h6>Merci</h6>
</div>

<div class="footer">
  <img src="honda_footer.jpg" class="header-banner">
</div>
