<img src="honda_header.jpg" class="header-banner">

<ul>
	<li><%= link_to "Agenda", root_path %></li>
	<li><%= link_to "Inscription", inscription_path %></li>
	<li><%= link_to "Informations", informations_path %></li>
	<li><%= link_to "Contact", contact_path %></li>
</ul>

<table>
	<tr>
		<td class="date"><h2>Lundi 17 Décembre</h2></td>
	</tr>
	<tr>
		<td class="desc-agenda">
			13h00
			<i class="fas fa-map-marked-alt fa-2x"></i>
			Point de rencontre à Paris
		</td>
	</tr>
	<tr>
		<td class="desc-agenda">
			13h30
			<i class="fas fa-bus-alt fa-2x"></i>
			Transfert en bus
		</td>
	</tr>
	<tr>
		<td class="desc-agenda">
			15h30
			<i class="fas fa-key fa-2x"></i>
			Arrivée sur site & check-in dans les hôtels
		</td>
	</tr>
	<tr>
		<td class="desc-agenda">
			16h00
			<i class="fas fa-cookie-bite fa-2x"></i>
			Accueil gourmand
		</td>
	</tr>
	<tr>
		<td class="desc-agenda">
			17h00
			<i class="fas fa-microphone-alt fa-2x"></i>
			Plénière
		</td>
	</tr>
	<tr>
		<td class="desc-agenda">
			19h00
			<i class="fas fa-glass-martini-alt fa-2x"></i>
			Apéritif, animations et dîner
		</td>
	</tr>
	<tr>
		<td class="desc-agenda">Fin de soirée conviviale</td>
	</tr>
	<tr>
		<td class="desc-agenda">
			23h00 - 01h00
			<i class="fas fa-bus-alt fa-2x"></i>
			Transfert en bus vers les hôtels
		</td>
	</tr>
	<tr>
		<td class="date"><h2>Mardi 18 Décembre</h2></td>
	</tr>
	<tr>
		<td class="desc-agenda">
			Dès 8h30
			<i class="fas fa-concierge-bell fa-2x"></i>
			Check-out et prise en charge au départ des hôtels vers le site de la convention
		</td>
	</tr>
	<tr>
		<td class="desc-agenda">Petit déjeuner sur place</td>
	</tr>
	<tr>
		<td class="desc-agenda">
			10h00
			<i class="fas fa-bus-alt fa-2x"></i>
			Transfert en bus vers les hôtels
		</td>
	</tr>
</table>

<img src="honda_footer.jpg" class="header-banner">