<img src="honda_header.jpg" class="header-banner">

<ul>
	<li><%= link_to "Agenda", root_path %></li>
	<li><%= link_to "Inscription", inscription_path %></li>
	<li><%= link_to "Informations", informations_path %></li>
	<li><%= link_to "Contact", contact_path %></li>
</ul>

<div class="agenda-section">
	<h5 class="date-agenda">Lundi 17 Décembre</h5>

	<table class="centered">
		<tbody>
			<tr>
				<td>13h00</td>
				<td><i class="fas fa-map-marked-alt fa-2x"></i></td>
				<td>Point de rencontre à Paris</td>
			</tr>
			<tr>
				<td>13h30</td>
				<td><i class="fas fa-bus-alt fa-2x"></i></td>
				<td>Transfert en bus</td>
			</tr>
			<tr>
				<td>15h30</td>
				<td><i class="fas fa-key fa-2x"></i></td>
				<td>Arrivée sur site & check-in dans les hôtels</td>
			</tr>
			<tr>
				<td>16h00</td>
				<td><i class="fas fa-cookie-bite fa-2x"></i></td>
				<td>Accueil gourmand</td>
			</tr>
			<tr>
				<td>17h00</td>
				<td><i class="fas fa-microphone-alt fa-2x"></i></td>
				<td>Plénière</td>
			</tr>
			<tr>
				<td>19h00</td>
				<td><i class="fas fa-glass-martini-alt fa-2x"></i></td>
				<td>Apéritif, animations et dîner</td>
			</tr>		<tr>
				<td></td>
				<td>Fin de soirée conviviale</td>
				<td></td>
			</tr>		<tr>
				<td>23h00 - 01h00</td>
				<td><i class="fas fa-bus-alt fa-2x"></i></td>
				<td>Transfert en bus vers les hôtels</td>
			</tr>
		</tbody>
	</table>

	<h5 class="date-agenda">Mardi 18 Décembre</h5>

	<table class="centered">
		<tbody>
			<tr>
				<td>Dès 8h30</td>
				<td><i class="fas fa-concierge-bell fa-2x"></i></td>
				<td>Check-out et prise en charge au départ des hôtels vers le site de la convention</td>
			</tr>
			<tr>
				<td></td>
				<td>Petit déjeuner sur place</td>
				<td></td>
			</tr>
			<tr>
				<td>10h00</td>
				<td><i class="fas fa-bus-alt fa-2x"></i></td>
				<td>Transfert en bus vers les hôtels</td>
			</tr>
		</tbody>
	</table>
</div>

<img src="honda_footer.jpg" class="header-banner">