<img src="honda_header.jpg" class="header-banner">

<ul>
	<li><%= link_to "Agenda", root_path %></li>
	<li><%= link_to "Inscription", inscription_path %></li>
	<li><%= link_to "Informations", informations_path %></li>
	<li><%= link_to "Contact", contact_path %></li>
</ul>

<div class="infos-all">
	<p>Des transferts en bus vers le lieu de la convention seront mis en place au départ des points de rencontre suivants :</p></br>

	<h5>Lundi 17 Décembre</h5></br>

	<p><b>Rendez-vous à 13h00 à :</b></p>

	<p>• Paris Gare Montparnasse</p>
	<p>• Paris Gare de Lyon</p>
	<p>• Paris Gare du Nord</p>
	<p>• Aéroport de Paris Orly</p>

	<p>Départ des bus à <b>13h30</b> vers le site de la convention.</p>

	<p>Merci de bien indiquer, lors de votre inscription, le lieu de prise en charge souhaité.</p>

	<p>Nous vous donnerons, dans un second temps, le détail du point de rencontre ainsi qu'un contact référent.</p>

	<p><b>Pour les personnes venant en voiture ou à moto :</b></p>

	<p>Si vous le souhaitez, vous aurez la possibilité de vous garer dans un des parkings suivants.</br>
	Une contremarque pré payée vous sera remise lors de la convention et vous permettra de sortir du parking sans avoir à procéder au paiement.
	La prise en charge est faite par Honda France.</p>

	<p>Parkings partenaires :</p>

	<p>• Gare Paris Montparnasse : Interparking - Deux entrées : 10, rue du Départ et 11, rue de l'Arrivée, 75014 Paris</p>
	<p>• Paris Gare de Lyon : Parking Méditerranée - 26 rue de Chalon, 75012 Paris</p>
	<p>• Paris Gare du Nord : Parking EFFIA - 4 rue de Compiègne, 75010 Paris</p>
	<p>• Aéroport de Paris Orly : PARKINEO - 1 chemin des carrières, 94310 Orly</p></br>

	<h5>Mardi 18 Décembre</h5></br>

	<p><b>10h00</b> : Départ du site de la convention et retour en bus vers les différents lieux de dépose (identiques à ceux de la prise en charge).
	Arrivée prévue aux alentours de 12h00.</p>

	<p>Nous vous demandons donc de réserver votre plan d'acheminement selon les modalités indiquées ci-dessus.</p>
</div>

<img src="honda_footer.jpg" class="header-banner">