/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.header-banner {
	width: 100%;
	height: 100%;
	margin-top: 0;
	margin-left: 0;
}

.button {
    background-color: #d33135;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #A9272A;
    color: white;
    cursor:pointer;
}

.date {
    width: 100%;
    text-align: center;
}

.form {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.desc-agenda {
    font-weight: bold;
    font-size: 18px;
}

.contact-title {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.contact {
    padding-left: 10%;
    padding-right: 10%;
}

.infos-all {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

h2 {
    color: #d33135;
}

table {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

td {
    width: 33%;
    height: 50px;
}

tr, td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 2px solid #ddd;
}

ul {
    list-style: none;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d33135;
    color: white;
}

li {
    display: inline-block;
    text-align: center;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:visited {
	color: white;
}

li a:hover {
    background-color: #A9272A;
}
